@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cursive&display=swap');

body{
    background-image:url(img/13.jpg) ;
    background-attachment: fixed;
    background-repeat:no-repeat ;
    background-size: cover;
}
 nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        font-family: sans-serif;
        padding-top: 15px;
      }
.logo {
    width: 10%;
    height: 15%; /* Adding 'px' as the unit */
}
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
 }
 nav ul li {
    margin-left: 20px;
    margin-bottom: 10px; /* Adjust vertical spacing between list items */
}
 nav ul li a {
    font-family: "Playfair Display SC", serif;
   text-decoration: none;
    color: #E6B17E;
    font-size: 22px;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
    margin-left: 40px;
}
 nav ul li a:hover {
    color: #4D331F;
    border-bottom: 2px solid #deab5f;
}
.header{
   font-family: 'Cursive',cursive;
    justify-content:right;
    color:  #FCDEC0;
    text-align: center;
    font-size:50px ;
    margin: 50px;
}
.main-btn {
   color: #4D331F;
   font-size: 20px;
   font-family: 'Cursive',cursive;
   background-color:#FCDEC0 ;
   padding: 10px 10px;
}

  section div{
    transform: translateY(700px);
    background-color: #1b0c06;
    margin:200PX;
    width: auto;
    height:700px;
    border: 3px solid #FCDEC0;
    border-style: dotted;
  }
  strong {
    font-family:'Arizonia', cursive;
        color: #FCDEC0;
        text-align: center;
        font-size: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.history{
  font-family: 'Cursive',cursive;
 font-size: 30px;
 color: #E6B17E;
 text-align: center;
}
.product{
   transform: translateY(700px);
   display: flex;
   align-items: center;
   justify-content: center;
   
}

section div ul {
  display: flex;
  justify-content: center;
}

section div ul li {
  list-style: none; /* Remove default list styles */
}

section div ul li a {
  text-decoration: none; /* Remove default underline */
  color: #e9c9ac; /* Change link color */
  margin: 0px 150px; /* Adjust as needed for spacing between links */
  font-size: 40px;
}

section div ul li a:hover {
  color: #4D331F; /* Change link color on hover */
}
p{
  font-size: 35px;
  font-family: 'Cursive',cursive; 
  text-align: center;
  color:#E6B17E;
}

footer {
align-items: center;
color: #ffffff;
font-family: 
}
footer div{
transform: translateY(1000px);
}

footer .heading-info {
  font-family: "Playfair Display SC", serif;
  margin-bottom: 20px;
  text-align: center;
}

footer p {
  font-size:25px;
  font-family: 'Cursive',cursive;
  line-height: 25px;
  text-align: center;
  color: #FCDEC0;
}

span {
  font-family: "Playfair Display SC", serif;
  color: #eeca94;
}

 footer hr{
  width: 25%;
  color:#deab5f;

}
